.container {
  background-color: #f5f5f5;
  padding: 20px;
  height: 100%;
}


.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937; /* gray-800 */
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #6b7280; /* gray-500 */
  margin-bottom: 1.5rem;
}


